{% extends "master.html" %}

{% block content %}
<h2>Crear Estudiante</h3>
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-4 col-12-medium">
        <div id="sidebar">
 <!-- Content -->
 <article>

  <h2>Como agregar un Estudiante</h2>

  <p>Para agregar un estudiante, siga estos pasos detallados:</p>
<ol>
    <li><b>Nombre:</b> Ingrese el nombre del estudiante en el campo designado. Asegúrese de que el nombre esté escrito correctamente, ya que este será utilizado para todas las referencias futuras.</li>
    <li><b>Apellidos:</b> Ingrese los apellidos del estudiante en el siguiente campo. Es importante incluir ambos apellidos si aplica, para mantener la consistencia y precisión en los registros.</li>
    <li><b>Cédula:</b> Proporcione el número de cédula del estudiante. Este es un campo obligatorio y debe ser ingresado sin errores, ya que la cédula es un identificador único que se utilizará para la verificación de la identidad del estudiante.</li>
    <li><b>Correo Electrónico:</b> Ingrese una dirección de correo electrónico válida para el estudiante. Este correo electrónico se utilizará para enviar comunicaciones importantes y actualizaciones, por lo que es crucial asegurarse de que esté correcto y activo.</li>
</ol>


  <h3>Informacion Adicional</h3>
  <p>Cualquier información relevante que no encaje en los campos anteriores puede ser incluida aquí. Esto puede ser detalles sobre alergias, necesidades especiales, o cualquier otro dato que pueda ser importante para el personal educativo.</p>

</article>
        </div>

      </div>
      <div class="col-8 col-12-medium imp-medium">
        <div id="content">

            <form action="" method="post">
              {% csrf_token %}
              {{formulario.as_p}}
              <p><input type='submit' value='Agregar'/></p>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
    </div>

  </div>

</div>


{% endblock %}
